<div>
		<div class="form-group">
			<div class="row">
				<form action="" method="POST" role="form" name="equipo" id="form-equipo" id="form-equipo">
					<legend>Registrar Equipo</legend>
					<div class="row">
						<div class="col-xs-9">
							<div class="form-group">
								<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del Equipo" required>
							</div>
						</div>
						<div class="col-xs-2">
							<button type="submit" class="btn btn-primary">
							 Guardar <span class="glyphicon glyphicon-floppy-disk"></span>
							</button>
						</div>
					</div>
				</form>
				<div class="loader">
					<img src="img/ajax-loading.gif">
				</div>

				<div class="result">
					<div class="alert alert-success alert-dismissible" role="alert">
					  <strong>Registro</strong> realizado correctamente.
					</div>
					
				</div>
				<table class="table table-striped table-hover" id="tbteam">
						<thead>
							<tr>
								<th>#</th>
								<th>Nombre del Equipo</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
				</table>	
			</div>
		</div>
</div>